<!DOCTYPE html>
<html lang="en">
<head>
  <title>OnlyRecipe</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
   
  <link rel="stylesheet" href="https://use.typekit.net/dtb0fnw.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script src="index.js"></script>
</head>
  <body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="index.html"> <img src="onlyRecipes logo.png" width="100"> </a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="myRecipes.html">My Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="addRecipe.html"><font color="#70bdfa"><u>Add a Recipe</u></font></a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            more links
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </li>
      </ul>
    </nav>

  <font class="newRecipe" >New Recipe</font>
<div ng-app="OnlyRecipes" ng-cloak ng-controller="myCtrl">

  <div class = "ImageInput">
      <h2>Copy Paste an image URL from the internet here (optional)</h2>
      <input type="text" ng-model="imageURL" ng-change="addURL()" />
      <img id="picture" ng-src={{recipe.imageUrl}} alt="Get a picture of your delicious food!">
  </div>

  <div class="Shop">
    <div class="w3-card-2 w3-margin" style="max-width:400px;">
      <header class="w3-container w3-light-grey w3-padding-16">
        <h2>Ingredients</h2>
      </header>
      <ul class="w3-ul">
        <li ng-repeat="x in ingredients" class="w3-padding-16">{{x}}<span ng-click="removeIngredient($index)" style="cursor:pointer;" class="w3-right w3-margin-right" 
          style="background-color:white;"><img src="primary-tab-remove.svg" width="12"hspace="20"  /></span></li>
      </ul>
      <div class="w3-container w3-light-grey w3-padding-16">
        <div class="w3-row w3-margin-top">
          <div class="w3-col s11">
            <textarea id="ingInput" rows="5" cols="80" placeholder="Copy your ingredients list into this box, or add a single ingredient" 
            ng-model="addMe" class="w3-input w3-border w3-padding" ng-keypress="keyPress($event)">
              </textarea>
            <button ng-click="addIngredient()" class="w3-btn w3-padding w3-green" style="background-color:#70bdfa" >Add Ingredient(s)</button>
          </div>
        </div>
        <p class="w3-text-red">{{errortext}}</p>
      </div>
    </div>
  </div>

  <div class="instruct"><h2>Instructions</h2><br>
      <textarea rows="5" cols="80" id="instructionsText" ng-model="instructionsText" 
      placeholder="Copy paste the instructions for your recipe here">
      </textarea>
      <div class="w3-col s11">
        <button ng-click="addInstruction()" class="w3-btn w3-padding w3-green" style="background-color:#70bdfa" >Add Instructions</button>
      </div>
  </div>

    <div class ="centerThis">
      <a class= "buttonCSS">
        <input id="AddButton" type="button" ng-click="addToRecipes()" value="Add this Recipe">
      </a>
    </div>
</div>
  </body>
</html>