.container
{
    padding-top: 16px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
}

h1
{   
    padding-top: 40px;
    /* padding-right: 80px; */
    padding-bottom: 16px;
    /* padding-left: 220px; */
    font-family: titular, sans-serif; 
    font-weight: 300;
    font-style: normal;
}

.loginbutton
{
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
}

#Shop 
{
    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 16px;
    padding-left: 220px;
}

.CenterLogo
{
    display: block;
    margin: auto;
    width: 600px;
}

#Instructions
{
    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 16px;
    padding-left: 220px;
}

.onlyText
{
    margin: 0 auto;
    text-align: center;
    font-family: titular, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 72px;
    padding-top: 40px;
}
  
.nav-link
{
    font-family: titular, sans-serif;
    font-weight: 800;
    font-size: 24px;
}

.centerThis
{
    padding-top: 24px;
    padding-bottom: 80px;
    align-content: center;
}

