



.container{
  padding-top: 16px;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
}

h1{
  
  padding-top: 40px;
  padding-right: 80px;
  padding-bottom: 16px;
  padding-left: 220px;
  
 
}

#Shop {
    
    padding-top: 40px;
  padding-right: 80px;
  padding-bottom: 16px;
  padding-left: 220px;


}

#Instructions
{
      padding-top: 40px;
  padding-right: 80px;
  padding-bottom: 16px;
  padding-left: 220px;
}

.nav-link {
    font-size:20px;
    

     
}

