<!DOCTYPE html>
<html lang="en">
<head>
  <title>OnlyRecipe</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   
  <link rel="stylesheet" href="https://use.typekit.net/dtb0fnw.css">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="myrecipes.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script src="index.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="index.html"> <img src="onlyRecipes logo.png" width="100"> </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="myRecipes.html" ><font color="#70bdfa"><u>My Recipes</u></font></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="addRecipe.html">Add a Recipe</a>
    </li>
  </ul>
</nav>

<div class="Header">Your Saved Recipes</div>

<div ng-app="OnlyRecipes" ng-cloak ng-controller="myCtrl" data-ng-init="init()">
    <div ng-repeat="x in user.recipes" class="RecipeItem" ng-click="">
      <ul>
        <li>
          <img class="ImgDisplay"  ng-src={{x.imageUrl}}>
        </li>
        <li>
          <h2>{{x.title}}</h2>
        </li>
      </ul>
    </div>
    <div class="parText">{{NoRecipes}}</div>
    <div class ="centerThis" style="text-align: center;">
      <a class= "buttonCSS" href="addRecipe.html" >
        <input type="button"    value="Add a recipe">
      </a>
  </div>
</div>


</body>
</html>