

h1
{
  font-family: titular, sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
}
h2
{
  font-family: titular, sans-serif; 
}

.container
{
  font-family: titular, sans-serif;
  background-image: url("https://imgc.allpostersimages.com/img/print/u-g-Q1052Q40.jpg?w=550&h=550&p=0");
  width:900px;
  border-radius: 25px;
}

.cities
{
  font-size: 100px;
}

.Root div
{
  font-family: titular, sans-serif;
}