h1
{
  font-family: titular, sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
}
h2
{
  font-family: 'Times New Roman', Times, serif; 
}

.flex-container
{
  display: flex;
}

.cities
{
  font-size: 100px;
}

.labels
{
  flex-wrap: wrap;
  padding: 24px;
  margin: 16px;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-family: titular, sans-serif;
  max-width: 400px;
  background-color: #70bdfa;
  border-radius: 16px;
}

.Root
{
  font-family: titular, sans-serif;
}

img
{
  max-width: 360px;
  max-height: 360px;
  border-radius: 16px;
}

#recipeName
{
  font-size: 60px;
  text-align: center;
}

#currRecipe
{
  font-size:100px;
  font-family: titular, sans-serif;
  font-weight: 600;
  padding-left: 80px;
     
}

#customLink
{
  color:"#70bdfa";
}