.instruct
{
    padding-left:240px;
    font-family: titular, sans-serif;
    font-weight: 300;
    font-size: 150%;
    font-style: normal;
}
.Shop
{
    padding-left:240px;
    font-family: titular, sans-serif;
    font-weight: 300;
    font-size: 150%;
    font-style: normal;
}
.ImageInput
{
    padding-left:240px;
    font-family: titular, sans-serif;
    font-weight: 300;
    font-size: 150%;
    font-style: normal;
    width: 800px;
}
.centerThis
{
    padding-top: 24px;
    padding-left:240px;
    padding-bottom: 80px;
}
u
{
    text-decoration: underline;
}
h2
{
    font-family: titular, sans-serif;
    font-weight:bold;
    font-size:80px;
}

h3
{
    font-family: titular, sans-serif;
}

body
{
  font-family: giddyup-std, sans-serif;
}


.nav-link
{
    font-family: giddyup-std, sans-serif;
    font-weight: 800;
}

li
{
    font-family: titular, sans-serif;
    font-size: 24px;
}

#picture
{
    display:block;
    width: 100%;
    height: auto;
}

#AddButton
{
    width: 360px;
    height: 40px;
    text-emphasis: bold;
    font-size: 150%;
    text-align: center;
}

.remove
{
    height:50px;
}
.newRecipe
{
    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 16px;
    padding-left: 160px;
    font-family: titular, sans-serif;
    font-size:80px;
}