.onlyText
{
    margin: 0 auto;
    text-align: center;
    font-family: titular, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    padding-top:160px;
    color:#41cc67;
}
.buttonCSS
{
    margin: 0 auto;
    text-align: center;
    font-family: titular, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    padding-top:16px;
    width:80px;
}
  
h1
{
    font-family: titular, sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.nav-link
{
    font-family: giddyup-std, sans-serif;
    font-weight: 800;
}